header{
    
    width: 100vw;
    background-color: #fafafa4f;
    padding: 1rem;
    border-bottom: 1px solid #d1cccc;
}

header span{
   font-size: 1.4rem;
   font-weight: bold;
}

header a{
    text-decoration: none;
    color: #6d28d9;
}


.courses{
    padding: 1.3rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.course{
    margin:1rem 2rem ;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 13px;
}

.course img {
    width: 100%;
    border-radius: 10px;
  

}

.course .course-content{
     padding: 1.3rem;
}


.course-content a{
    text-decoration: none;
    color: black;
    font-weight: rem;
    
}
.course-content span{
    
    font-size: 1.1rem;
    
}

.course-content p{
    margin-top: 1rem;
    color: #3f3f3f;
}

.course-content .for-btn{
    margin-top: 5rem;
}


.course-content .for-btn a{
    background-color: #6d28d9;
    color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.course-content .for-btn a:hover{
    background-color: #4d13ac;
    
}




@media screen and (max-width:980px){

    .courses{
        padding: 1.3rem;
        display:grid;
        grid-template-columns: 1fr 1fr;
    
    }


}

@media screen and (max-width:640px){

    .courses{
        padding: 1.3rem;
        display:grid;
        grid-template-columns: 1fr;
    
    }


}