@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

header{
    
    width: 100vw;
    background-color: #fafafa4f;
    padding: 1rem;
    border-bottom: 1px solid #d1cccc;
}

ul{
    list-style: none;
}

li{
    color: red;
}

header span{
   font-size: 1.4rem;
   font-weight: bold;
}

header a{
    text-decoration: none;
    color: #6d28d9;
}

.container{
    
    margin-top: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.parent{

    display: grid;
    grid-template-columns: 1fr 1fr;
}


h2{
    border-bottom: 6px solid #6d28d9;
    padding-bottom: 4px;
}

form{
    background-color: white;    
    padding: 2rem;    
    margin-bottom: 2rem;
    border-radius:20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.child{
    margin: 10px;
}


input{
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }

label{
    display: block;
    font-size:16px;
    font-weight: bold;
    margin-bottom: 2px;
}


.btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn-div,button{
    
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: .2s;
    background-color: #6d28d9;
}
.btn-div,button:hover{
    background-color: #6b21a8;
}

select{
    background-color: #f8f7f7;
    border: none;
    padding: 4px;
    vertical-align: top;
    width: 8rem;
    height: 2rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    font-size: 14px;
    border-radius: 5px;
    
}

@media screen and (max-width: 640px) {
   .parent{
    grid-template-columns: 1fr;
   }


label{
    font-size: 16px;
 
}
.container{
    margin-top:2rem;
}
.parent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    width: 18rem;
  }
button{
    font-size: 15px;
    padding:1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

  }