{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/content.css' %}" />

{% endblock %}

  {% block title %}Video {% endblock %}

{% block body %}
    
    <header>
        <span class="main2 "><a href="/">SajiloPadhai</a></span>
      </header>
  

      <main>

        
<div class="video-player">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
</div>

<div class="video-list">
    <h3 class="main2">Video List</h3>

    {% for video in all %}
<a href="{% url 'video' video.slug %}">
    <div class="list">
        <p class="main2">{{video.name}}</p>

    </div>
</a>
{% endfor %}
</div>
      </main>
      <div class="tab">
        <span class="main2 notes">Notes</span>
        <span id="Announcements" class="main2  nofield">Announcements</span>
        <span id="Exerices" class="main2 nofield">Exerices</span>


    </div>
    <p class="message main2">message</p>
    <div class="blog">

        <h2 class="rob">{{video.name}}</h2>
          <div class="blog-content main2">
    {{video.description| safe}} 
</div>

      </div>




      <p class="add main2">Add Comment</p>
      <section id="section">
    <div class="comment">
<form action="" method="POST">
    {% csrf_token %}
        <input type="text" class="main2" placeholder="Add Comment">
        <button class="main2" >Comment</button>
    </form>
    </div>

    <div class="all-comments">
<!-- user comment  -->
        <div class="user-comment">

            <img src="https://res.cloudinary.com/dwnigdgck/image/upload/v1645289971/personal/sankalpa_skrceu.jpg" alt="">
            <div class="profile-name">
                <p class="main2">Instructor</p>
                <span class="main2">Hi Viewer, if have any suggestions for me then please comment</span>
            </div>
            
        </div>
        {% for comment in comments %}
        <div class="user-comment">
{% if comment.gender == "male" %}

<img src="https://res.cloudinary.com/dwnigdgck/image/upload/v1644944179/personal/undraw_male_avatar_323b_c2y8cu.png" alt="">
{% else %}

<img src="https://res.cloudinary.com/dwnigdgck/image/upload/v1644944179/personal/undraw_female_avatar_w3jk_ju3hyq.png" alt="">


    {% endif %}
            <div class="profile-name">
                <p class="main2">{{comment.username}}</p>
                <span class="main2">{{comment.comment}}</span>
            </div>
            
        </div>
        {% endfor %}
<!-- ended here  -->
    </div>


</section>




<script>
let checker=true;
let section=document.getElementById("section");
let message=document.querySelector('.message');
let note=document.querySelector('.notes');
let add=document.querySelector('.add');
let blog=document.querySelector('.blog');
message.style.display="none"
section.style.display="none"
add.addEventListener('click',()=>{
    if (checker){

    section.style.display="block";
    add.innerHTML="Hide Comments";
    checker=false;
    }
else{
    section.style.display="none";
    add.innerHTML="Add Comment" 
    checker=true;
}
})

//personal react app lol

let nofield=document.getElementsByClassName('nofield');

for (let i=0;i<nofield.length;i++){
    nofield[i].addEventListener('click',()=>{

blog.style.display='none'
message.innerHTML=`This is not available`
message.style.display="block";

})

}


note.addEventListener('click',()=>{
    blog.style.display="block"
    message.style.display="none"
})
</script>

{% endblock %}