{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/content.css' %}" />

{% endblock %}

  {% block title %} Video {% endblock %}

{% block body %}
    <header>
        <span class="ox "><a href="/">SajiloPadhai</a></span>
      </header>
  

      <main>

        
<div class="video-player">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="video-list">
    <h3 class="ox">Video List</h3>
    {% for video in all %}
<a href="{% url 'video' video.slug %}">
    <div class="list">
        <p class="ox">{{video.name}}</p>

    </div>
</a>
{% endfor %}
</div>
      </main>


      <div class="blog">

        <h2 class="rob">{{video.name}}</h2>
          <p class="ox">
           {{video.description}}
          </p>

      </div>




<section>

    <div class="comment">

        <input type="text" class="ox" placeholder="Add Comment">
        <button class="ox" >Comment</button>

    </div>

    <div class="all-comments">
<!-- user comment  -->
        <div class="user-comment">

            <img draggable="false" src="https://res.cloudinary.com/dwnigdgck/image/upload/v1644844913/personal/sank_ayderk.jpg" alt="">
            <div class="profile-name">
                <p class="ox">Sankalpa</p>
                <span class="rob">Hi Viewer, if have any suggestions for me then please comment</span>
            </div>
            
        </div>
<!-- ended here  -->
    </div>


</section>

{% endblock %}