{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/content.css' %}" />
  
    {% endblock %}

  {% block title %}Video {% endblock %}

{% block body %}
    
    <header>
        <span class="main2 "><a href="/">SajiloPadhai</a></span>
      </header>
  

      <main>

        
<div class="video-player">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
</div>

<div class="video-list">
    <h3 class="main2">Video List</h3>

    {% for video in all %}
<a href="{% url 'video' video.slug %}">
    <div class="list">
        <p class="main2">{{video.name}}</p>

    </div>
</a>
{% endfor %}
</div>
      </main>
      <div class="tab">
        <span class="main2 notes">Notes</span>
        <span id="Announcements" class="main2  nofield">Announcements</span>
        <span id="Exerices" class="main2 nofield">Exerices</span>


    </div>
    <p class="message main2">message</p>
    <div class="blog main2">

        <h2 class="rob">{{video.name}}</h2>
          <div class="blog-content main2">
    {{video.description| safe}} 
</div>

      </div>




      




<script>
let checker=true;
let message=document.querySelector('.message');
let note=document.querySelector('.notes');
let add=document.querySelector('.add');
let blog=document.querySelector('.blog');
message.style.display="none"


//personal react app lol

let nofield=document.getElementsByClassName('nofield');

for (let i=0;i<nofield.length;i++){
    nofield[i].addEventListener('click',()=>{

blog.style.display='none'
message.innerHTML=`This is not available`
message.style.display="block";

})

}


note.addEventListener('click',()=>{
    blog.style.display="block"
    message.style.display="none"
})
</script>

{% endblock %}