{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/courses.css' %}" />

{% endblock %}

  {% block title %} Courses {% endblock %}

{% block body %}

<header>
    <span class="ox "><a href="/">SajiloPadhai</a></span>
  </header>


  <main>
      <div class="courses">

        {% for course in all %}
        <!-- course start here  -->
        <div class="course">
          <img src="{{course.image.url}}" alt="" />
  
          <div class="course-content">
            <span> <a class="main2" href="">{{course.name}}</a></span>
            <p class="main2">
         {{course.description}}
            </p>
  
            <div class="for-btn">
              <a class="main2" href="{% url 'course' course.slug %}">Start Watching</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- course end here  -->
        </div>




        </main>





  {% endblock %}