{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/courses.css' %}" />

{% endblock %}

  {% block title %} Courses {% endblock %}

{% block body %}

<header>
    <span class="ox "><a href="/">SajiloPadhai</a></span>
  </header>


  <main>
      <div class="courses">

        
        <!-- course start here  -->
        <div class="course">
          <img loading="lazy" src="{% static 'courses/webtech.png' %}" alt="" />

          <div class="course-content">
            <span> <a class="ox" href="">Web Technology Class 12</a></span>
            <p class="ox">
              You will learn all the concept related to Webtechnology in Nepali
              Language | According to syllabus
            </p>

            <div class="for-btn">
              <a class="ox" href="/content.html">Start Watching</a>
            </div>
          </div>
        </div>
        <!-- course end here  -->
        </div>




        </main>





  {% endblock %}