{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/home.css' %}" />
    
{% endblock %}

  {% block title %}Sajilo Padhai {% endblock %}

{% block body %}
    
    <header class="main2">
        <div class="heading">
<span>Sajilo Padhai</span>
<a href="{% url 'login' %}" class="main2">Login</a>
</div>
<div class="container">
    <p class="main">We got you all courses in nepali</p>
    
    <div class="main-text">
        <div class="square"></div>
        <h1 class="main2">TECH STUDY</h1>
        <div class="square"></div>
    </div>
    
    <p class="main">Learning is Now Easy! </p>
    
    <div class="btnsec">
    
            <a href="{% url 'all course' %}" class="main2">View All Courses</a>
            <a href="{% url 'login' %}" class="main2">Demo</a>
    
    </div>
</div>

<div class="svgmaker">
    <svg xmlns="http://www.w3.org/2000/svg" viewBmain2="0 0 1440 320"><path fill="#6b21a8" fill-opacity="1" d="M0,224L48,197.3C96,171,192,117,288,117.3C384,117,480,171,576,170.7C672,171,768,117,864,112C960,107,1056,149,1152,160C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg></div>
</header>


    <div class="sec-top">
      <h2 class="main2">Courses</h2>
    </div>
    <!-- course start here  -->
    <div class="courses">

      {% for course in courses %}
      <div class="course">
        <img src="{{course.image.url}}" alt="" />

        <div class="course-content">
          <span> <a class="main2" href="{% url 'course' course.slug %}">{{course.name}}</a></span>
          <p class="main2">
       {{course.description}}
          </p>

          <div class="for-btn">
            <a class="main2" href="{% url 'course' course.slug %}">Start Watching</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
      <!-- course end here  -->
   
<main>
    <div class="admin">
        <div class="profile">
        <img src="https://res.cloudinary.com/dwnigdgck/image/upload/v1645883928/personal/IMG_20220225_121031-removebg-preview_s4b54h.png" alt="">
        <div class="text">
        <span class="main2">Sankalpa Acharya</span>
        <span class="main2">Founder</span>
    </div>
    </div>

    <p class="main2"> Welcome to sajilo padhai,Here You will get to learn about web Development and web security.All courses with no cost at all.Feedbacks are always appreciated</p>
</div>
     
</main>



<footer>

  <span class="main2">Contact Mail :Sajilopadhaii@gmail.com</span>
</footer>


{% endblock %}