{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/login.css' %}" />

{% endblock %}

  {% block title %} Sajilo Padhai {% endblock %}

{% block body %}
<header>
    <span class="ox "><a href="/">SajiloPadhai</a></span>
  </header>

    <div class="container">
<h2>Login</h2>
        <form action="">
            <div class="parent">
            <div class="child">

            <div class="child">

                <label for="">Email:</label>
                <input type="email">
            </div>
          

            <div class="child">

                <label for="">Password:</label>
                <input type="password">
            </div>
          
        
        </div>
          
        <a href="{% url 'singup' %}">Don't have account ?</a>
        <div class="btn-div">
            <button>Submit</button>
        </div>

        </div>
        </form>

    </div>

{% endblock %}