{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'courses/singup.css' %}" />

{% endblock %}

  {% block title %} SingUp {% endblock %}

{% block body %}
<header>
    <span class="ox "><a href="/">SajiloPadhai</a></span>
  </header>




  
    <div class="container">
<h2>Registration</h2>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="parent">
         {% for field in form %}
            <div class="child">

                <label for="">{{field.label_tag}}</label>
                {{field}}
                {{field.errors}}
            </div>
           
        {% endfor %}
         
          
         
        </div>
          
        <a href="{% url 'login' %}">Already have account ?</a>
        <div class="btn-div">
            <button type="submit">Submit</button>
        </div>

        </div>
        </form>

    </div>

{% endblock %}