<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Sajilo Padhai" />
    <link rel="shortcut icon" href="https://sankalpa.info.np/favicon.png" type="image/x-icon">
    <meta property="og:title" content="Sajilo Padhai" />
    <meta property="og:description" content="Sajilo Padhai is E-learning platform for nepali students where they can find different courses with Interest" />
    <meta property="og:image" content="https://res.cloudinary.com/dwnigdgck/image/upload/v1645030667/personal/Untitled_design_1_inwfgo.png" />


    {% block links %}

    {% endblock %}
{% block style %}
{% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block body %} {% endblock %} 
</body>
</html>